@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sedgwick Ave Display';
    font-size: 1.5rem;
}

section.Curiosidade .animeCuriosidades {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.Curiosidade h2{
    font-size: 2rem;
    text-align: center;
    color:#fff;
    margin-bottom: 20px;
}


.banner-rivais{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
   /* width: 100vw;*/
    background: rgba(0, 0, 0, 0.8) url(../assets/imgs/banner-rivais.jpg);
    background-blend-mode: darken;
    height:160vh;
    background-repeat: no-repeat;
    background-size: 104%;
    background-position: -4vw;
    background-size: 104%;
    background-position: -4vw;
}


.banner-time7{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
   /* width: 100vw;*/
    background: rgba(0, 0, 0, 0.8) url(../assets/imgs/banner-time7.jpg);
    background-blend-mode: darken;
    height:160vh;
    background-repeat: no-repeat;
    background-size: 104%;
    background-position: -4vw;
    background-size: 104%;
    background-position: -4vw;
}



.banner-aldeia{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
   /* width: 100vw;*/
    background: rgba(0, 0, 0, 0.8) url(../assets/imgs/banner-hogakes.jpg);
    background-blend-mode: darken;
    height:170vh;
    background-repeat: no-repeat;
    background-size: 104%;
    background-position: -4vw;
    background-size: 104%;
    background-position: -4vw;
}



.banner-akatsuki{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
   /* width: 100vw;*/
    background: rgba(0, 0, 0, 0.8) url(../assets/imgs/banner-akatsuki.jpg);
    background-blend-mode: darken;
    height:170vh;
    background-repeat: no-repeat;
    background-size: 104%;
    background-position: -4vw;
    background-size: 104%;
    background-position: -4vw;
}



.banner-névoa{
display: flex;
position: relative;
flex-direction: column;
align-items: center;
/* width: 100vw;*/
background: rgba(0, 0, 0, 0.8) url(../assets/imgs/banner-vila\ da\ nevoa.jpg);
background-blend-mode: darken;
height:170vh;
background-repeat: no-repeat;
background-size: 104%;
background-position: -4vw;
background-size: 104%;
background-position: -4vw;
}


.banner-chunnin{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
   /* width: 100vw;*/
    background: rgba(0, 0, 0, 0.8) url(../assets/imgs/banner-exame\ chunnin.jpg);
    background-blend-mode: darken;
    height:150vh;
    background-repeat: no-repeat;
    background-size: 104%;
    background-position: -4vw;
    background-size: 104%;
    background-position: -4vw;
}



.banner-konoha{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
   /* width: 100vw;*/
    background: rgba(0, 0, 0, 0.8) url(../assets/imgs/banner-invasão.jpg);
    background-blend-mode: darken;
    height:158vh;
    background-repeat: no-repeat;
    background-size: 104%;
    background-position: -4vw;
    background-size: 104%;
    background-position: -4vw;
}

.banner-resgate{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
   /* width: 100vw;*/
    background: rgba(0, 0, 0, 0.8) url(../assets/imgs/banner-resgate.jpg);
    background-blend-mode: darken;
    height:125vh;
    background-repeat: no-repeat;
    background-size: 104%;
    background-position: -4vw;
    background-size: 104%;
    background-position: -4vw;
}

.img-curio img {
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 45vh;
    text-align: center; 
    margin-left: 445px;
    border-radius: 7px;
    box-shadow: 1vw 1vh #ff4500;
    border: 2px solid #ff4500;
}





.anime-curio p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    text-shadow: 
             -1px -1px 0px #000, 
             -1px 1px 0px #000,      
              1px -1px 0px #000,    
              1px 0px 0px #000;
    text-align: center;
    font-size: 0.85rem;
}