@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sedgwick Ave Display';
    font-size: 1.5rem;
}



.banner {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    /* width: 100vw;*/
    background: linear-gradient(to bottom, #f57344, #FF4500);
    height: 100vh;
}



.graficos {
    overflow: hidden;
    overflow-x: scroll;
}

.graficos h2 {
    color: #FFF;
    font-size: 5rem;
    font-weight: 700;
    padding: 10px 0 10px 1.3vw;
    margin: 2vh 0 3vh 0;
}

.listas {
    list-style-type: none;
    margin: 10px 0;
    gap: 3vw;
    padding: 0;

    /* 
      deixa todos os itens da lista
      na horizontal e todos com a
      mesma largura
    */
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;

}

.listas {
    background-color: #151515;
    border: 20px solid #00f;
    border-radius: 6px;
}

canvas {
    height: 85vh;
    width: 65vw;
    padding: 10px 1vw 10px 3vw;
}