@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sedgwick Ave Display';
    font-size: 1.5rem;
}



#content {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 85%;
    height: 100vh;
    background: linear-gradient(to bottom, #0C0C0C, #1F1F1F);
    padding: 2rem 3rem;
    margin-left: 15%;
    gap: 5vh;
    overflow: hidden;
}

.slide-show h2{
    color:#fff;
    font-size: 3.5rem;
    font-weight: 900;
}
.slides-list {
    list-style-type: none;
    margin: 50px 0;
    gap: 8vw;
    padding: 0;
    
    /* 
      deixa todos os itens da lista
      na horizontal e todos com a
      mesma largura
    */
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.slide{
    background-color: #151515;
    border: 10px solid #FF4500;
    border-radius: 6px;
}

canvas {
    height: auto;
    width: 74vw;
    padding: 10px 1vw 10px 3vw;
}