@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sedgwick Ave Display';
    font-size: 1.5rem;
}



.banner-header {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 98.5vw;
    /*vh-altura e vw-largura(unidade usada por conta que o banner estava numa boa resolução)*/
    background-image: url(../assets/imgs/banner-land-page.jpg);
    height: 120vh;
    background-repeat: no-repeat;
    background-size: 104%;
    background-position: -4vw;
    /* Definição de como e onde a imagem de fundo é posicionada*/
    background-size: 104%;
    /*define as dimensões da imagem no box*/
    background-position: -4vw;
}



.navbar {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 99vw;
    transition: 0.6s;
    /*Alterando posição da navbar*/
    z-index: 3;
    /*Sobreposição de elementos da navbar*/
    background: linear-gradient( to bottom, #f57344, #FF4500);
}


.logo-naruto {
    width: 11vw;
}



.ul-lista {
    width: 50vw;
    display: flex;
    justify-content: space-around;
}

.ul-lista ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.navbar ul li {
    list-style: none;
}

.header {
    display: flex;
    width: 95vw;
    align-items: center;
    justify-content: space-around
}

.navbar ul li a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:#fff;
    font-size: 0.9rem;
}

.navbar ul li a:hover {
    color:#0000FF;

}



/*SECTION SOBRE MIM*/

.perfil h1 {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    text-align: center;
    color:#fff;
}


.sobre-perfil h2{
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
}



.banner-perfil{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
   /* width: 100vw;*/
    background: rgba(0, 0, 0, 0.7) url(../assets/imgs/card-sobre\ mim.jpg);
    background-blend-mode: darken;
    height:125vh;
    background-repeat: no-repeat;
    background-size: 104%;
    background-position: -4vw;
    background-size: 104%;
    background-position: -4vw;

}


.img-perfil img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 35vh;
    border-radius: 15%;
    border: solid 5px #FF4500;
    margin-left: 545px;
}



.sobre-perfil p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    text-shadow: 
             -1px -1px 0px #000, 
             -1px 1px 0px #000,      
              1px -1px 0px #000,    
              1px 0px 0px #000;
    text-align: center;
    font-size: 1rem;
 
}


/*FIM DA SECTION SOBRE MIM*/




/*INTRODUCAO INICIO ANIME*/

.intro-anime {
    width: 400px;
    text-align: justify;
    color:#fff;
    font-size: 1.8rem;
}

.banner-intro{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
   /* width: 100vw;*/
    background: rgba(0, 0, 0, 0.7) url(../assets/imgs/banner-sobre.jpg);
    background-blend-mode: darken;
    height:130vh;
    background-repeat: no-repeat;
    background-size: 104%;
    background-position: -4vw;
    background-size: 104%;
    background-position: -4vw;
}

.intro h2{
    text-align: center;
    font-size: 3.1rem;
    color:#fff;
    align-items: center;
}


section h2 {
    text-align: center;
    font-size: 6.2rem;
    color:#fff;
    align-items: center;
}

section.intro .anime-intro {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 100px;
}


.img-logo img {
    width: 27vw;
    height: 32vh;
    justify-content: space-between;
}

.intro-anime p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    text-shadow: 
             -1px -1px 0px #000, 
             -1px 1px 0px #000,      
              1px -1px 0px #000,    
              1px 0px 0px #000;
    text-align: center;
    font-size: 1rem;
}

/*FIM DA SECTION DE INTRO DO ANIME*/




/*INICIO SECTION  MEUS VALORES*/
section.valores .animeValores {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.valores h2 {
    text-align: center;
    font-size: 2.4rem;
    align-items: center;
    justify-content: center;
    color:#fff;
    margin-bottom: 70px;
}


.banner-valor{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    /*width: 100vw;*/
    background: rgba(0, 0, 0, 0.8) url(../assets/imgs/banner-valores.jpg);
    background-blend-mode: darken;
    height: 155vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 104%;
    background-position: -4vw;
    background-size: 104%;
    background-position: -4vw;
}




.animeValores .animeValor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img-valor img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18vw;
    border-radius: 15%;
    border: solid 10px #FF4500;
}

.animeValor h3 {
    font-size: 1.5rem;
    text-align: justify;
    color:#fff;
}


.animeValor .traco {
    width: 50%;
    height: 5px;
    border-radius: 10px;
    margin-block: 10px;
    background-color: #FF4500;
}

.animeValor p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    text-shadow: 
             -1px -1px 0px #000, 
             -1px 1px 0px #000,      
              1px -1px 0px #000,    
              1px 0px 0px #000;
    text-align: center;
    font-size: 1rem;
}

/*FIM SECTION MEUS VALORES*/




/*INICIO SECTION FRASES MARCANTES DE ALGUNS PERSONAGENS*/


section.personagem .animePersonagem {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.personagem h2 {
    text-align: center;
    font-size: 2.2rem;
    color:#fff;
    margin-left: 100px;
    margin-bottom: 70px;
}



.banner-falas{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
   /* width: 100vw;*/
    background: rgba(0, 0, 0, 0.8) url(../assets/imgs/banner-falas.jpg);
    background-blend-mode: darken;
    height:170vh;
    background-repeat: no-repeat;
    background-size: 104%;
    background-position: -4vw;
    background-size: 104%;
    background-position: -4vw;
}




.animePersonagem .animePerso {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}




.img-falas img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 18vw;
    border-radius: 15%;
    border: solid 10px #FF4500;
}

.animePerso h3 {
    font-size: 1.5rem;
    text-align: justify;
    color:#fff;
}


.animePerso .traco {
    width: 50%;
    height: 5px;
    border-radius: 10px;
    margin-block: 10px;
    background-color: #FF4500;
}

.animePerso  p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    text-shadow: 
             -1px -1px 0px #000, 
             -1px 1px 0px #000,      
              1px -1px 0px #000,    
              1px 0px 0px #000;
    text-align: center;
    font-size: 1.1rem;
}

/*FIM SECTION FRASES MARCANTES DE ALGUNS PERSONAGENS*/




/* INICIO SECTION HISTORIA DOS PERSONAGENS */

section.historia .animeHistorias {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.banner-naruto{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
   /* width: 100vw;*/
    background: rgba(0, 0, 0, 0.8) url(../assets/imgs/banner-naruto.jpg);
    background-blend-mode: darken;
    height:160vh;
    background-repeat: no-repeat;
    background-size: 104%;
    background-position: -4vw;
    background-size: 104%;
    background-position: -4vw;
}



.banner-sasuke{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
   /* width: 100vw;*/
    background: rgba(0, 0, 0, 0.8) url(../assets/imgs/banner-sasuke.jpg);
    background-blend-mode: darken;
    height:170vh;
    background-repeat: no-repeat;
    background-size: 104%;
    background-position: -4vw;
    background-size: 104%;
    background-position: -4vw;
}

.banner-kakashi{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
   /* width: 100vw;*/
    background: rgba(0, 0, 0, 0.8) url(../assets/imgs/banner-kakashi.jpg);
    background-blend-mode: darken;
    height:160vh;
    background-repeat: no-repeat;
    background-size: 104%;
    background-position: -4vw;
    background-size: 104%;
    background-position: -4vw;
}

.banner-jiraya{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
   /* width: 100vw;*/
    background: rgba(0, 0, 0, 0.8) url(../assets/imgs/banner-jiraya.jpg);
    background-blend-mode: darken;
    height:178vh;
    background-repeat: no-repeat;
    background-size: 104%;
    background-position: -4vw;
    background-size: 104%;
    background-position: -4vw;
}

.banner-itachi{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
   /* width: 100vw;*/
    background: rgba(0, 0, 0, 0.8) url(../assets/imgs/banner-itachi.jpg);
    background-blend-mode: darken;
    height:160vh;
    background-repeat: no-repeat;
    background-size: 104%;
    background-position: -4vw;
    background-size: 104%;
    background-position: -4vw;
}

.banner-gaara{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
   /* width: 100vw;*/
    background: rgba(0, 0, 0, 0.8) url(../assets/imgs/banner-gaara.jpg);
    background-blend-mode: darken;
    height: 160vh;
    background-repeat: no-repeat;
    background-size: 104%;
    background-position: -4vw;
    background-size: 104%;
    background-position: -4vw;
}




.banner-neji{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
   /* width: 100vw;*/
    background: rgba(0, 0, 0, 0.8) url(../assets/imgs/banner-neji.jpg);
    background-blend-mode: darken;
    height:160vh;
    background-repeat: no-repeat;
    background-size: 104%;
    background-position: -4vw;
    background-size: 104%;
    background-position: -4vw;
}



.banner-orochimaru{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
   /* width: 100vw;*/
    background: rgba(0, 0, 0, 0.8) url(../assets/imgs/banner-orochimaru.jpg);
    background-blend-mode: darken;
    height:160vh;
    background-repeat: no-repeat;
    background-size: 104%;
    background-position: -4vw;
    background-size: 104%;
    background-position: -4vw;
}


.animeHist h3 {
    font-size: 1.7rem;
    text-align: center;
    color:#fff;
    margin-bottom: 40px;
} 



.img-his img {
    align-items: center;
    justify-content: center;
    width: 18vw;
    text-align: center;
    border-radius: 15%;
    margin-bottom: 20px;
}


.img-hist img {
    align-items: center;
    justify-content: center;
    width: 18vw;
    text-align: center;
    border-radius: 15%;
    margin-left: 515px;
    margin-bottom: 20px;
}




.animeHist p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    text-shadow: 
             -1px -1px 0px #000, 
             -1px 1px 0px #000,      
              1px -1px 0px #000,    
              1px 0px 0px #000;
    text-align: center;
    font-size: 1rem;
}

/* FIM DA SECTION HISTORIA DOS PERSONAGENS*/






