@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sedgwick Ave Display';
  font-size: 1.5rem;
}


body {
  margin: 0;
  padding: 0;
  background: #0C0C0C;
  color: white;
}

/*BANNER*/
.banner {
  /* width: 100vw;*/
  height: 120vh;
  /* As unidades vh e vw significam viewport, sendo a primeira para altura e a segunda para largura. Isso significa que elas utilizam o tamanho total da viewport, tamanho total do layout do pc*/
  margin-top: 10vh;
  background-image: url(../assets/imgs/banner-land-pagee.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 0px 10px black;

}




/* CONTEXTO ANIME */


.anime .sinopse .span2 {
  margin-top: 10px;
}

.anime .card-context {
  display: flex;
  flex-direction: column;
  margin-left: 10%;

}

.card-context h2 {
  display: flex;
  flex-direction: column;
  font-size: 3.5rem;
  justify-content: center;
  text-align: center;
  margin-top: 60px;
}


.card-temat-temp {
  display: flex;

}

.card-center {
  display: flex;
  justify-content: center;
  margin-top: 20px;

}

.card-anime {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 220px;
  height: 40vh;
  background-color: #FF4500;
  border-radius: 20px;
  margin-left: 85px;
  border: 5px solid #0000FF;
}


.card-anime h3 {
  font-size: 1rem;
  text-align: justify;
  font-weight: 400;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-shadow:
    -1px -1px 0px #000,
    -1px 1px 0px #000,
    1px -1px 0px #000,
    1px 0px 0px #000;
}


.card-anime span {
  font-size: 0.5rem;
  text-align: justify;
  font-weight: 50;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-shadow:
    -1px -1px 0px #000,
    -1px 1px 0px #000,
    1px -1px 0px #000,
    1px 0px 0px #000;
}



.card-anime ul,
li {
  list-style: none;
  text-align: center;
  padding-inline-start: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-shadow:
    -1px -1px 0px #000,
    -1px 1px 0px #000,
    1px -1px 0px #000,
    1px 0px 0px #000;
  font-size: 25px;
}

.card-anime img {
  width: 5vw;
  height: 10vh;
  align-self: center;

}


.anime {
  background-color: #0C0C0C;
}

.anime .anime h2 {
  font-size: 2rem;
  justify-content: center;
  text-align: center;
  margin-left: 300px;
}



/*INTRO*/

.sobre-naruto {
  display: flex;
  height: 450px;
  background-color: #0C0C0C;
  margin-top: 100px;
}

.sobre-naruto .info-naruto {
  display: flex;
}



.info-naruto .informacoes {
  font-size: 8rem;
  display: flex;
  flex-direction: column;
  width: 470px;
  justify-content: start;
  margin-left: 100px;
}

.informacoes h2 {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
  text-align: justify;
  font-weight: 900;
  text-align: center;

}

.bio .legenda {
  text-align: justify;
}

.sobre-naruto .info-naruto img {
  width: 32vw;
  height: 50vh;
  margin-left: 250px;
  align-self: center;
  filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, 0.7));
  border-style: 30px;
  border-radius: 30px;
  border: 4px solid #ff4500;
}

.info-naruto .info-naruto {
  display: flex;
  flex-direction: column;
  width: 520px;
  justify-content: end;

}

.informacoes span {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 0.7rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-shadow:
    -1px -1px 0px #000,
    -1px 1px 0px #000,
    1px -1px 0px #000,
    1px 0px 0px #000;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.2px;
}

.informacoes button {
  width: 15vw;
  height: 10vh;
  align-self: center;
  justify-self: center;
  border-radius: 20px;
  text-decoration: none;
  margin-top: 20px;
  color: #fff;
  background-color: #FF4500;
  font-size: 1rem;
  border-bottom: 10px solid #0000FF;
}


.informacoes button:hover {
  background-color: #FF4500;
}





/*MEUS VALORES*/

.valores .animeValores {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}



.valores h2 {
  text-align: center;
  font-size: 3.4rem;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-bottom: 70px;
  margin-top: 40px;
}


.animeValores .animeValor {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.img-valor img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18vw;
  border-radius: 15%;
  border: 10px solid #ff4500;
}

.animeValor h3 {
  font-size: 1.5rem;
  text-align: justify;
  color: #fff;
}


.animeValor .traco {
  width: 50%;
  height: 5px;
  border-radius: 10px;
  margin-block: 10px;
  background-color: #0000FF;
}

.animeValor p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  text-shadow:
    -1px -1px 0px #000,
    -1px 1px 0px #000,
    1px -1px 0px #000,
    1px 0px 0px #000;
  text-align: center;
  font-size: 1rem;
}



/*FALAS MARCANTES*/

.personagem {
  background-color: #0C0C0C;
  margin-top: 100px;
}

.personagem .animePersonagem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.personagem h2 {
  text-align: center;
  font-size: 2.2rem;
  color: #fff;
  margin-left: 100px;
  margin-bottom: 70px;
  margin-top: 50px;
}


.animePersonagem .animePerso {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}




.img-falas img {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 18vw;
  border-radius: 15%;
  width: 20vw;
  border: 10px solid #ff4500;
}

.animePerso h3 {
  font-size: 1.5rem;
  text-align: justify;
  color: #fff;
}


.animePerso .traco {
  width: 50%;
  height: 5px;
  border-radius: 10px;
  margin-block: 10px;
  background-color: #0000FF;
}

.animePerso p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  text-shadow:
    -1px -1px 0px #000,
    -1px 1px 0px #000,
    1px -1px 0px #000,
    1px 0px 0px #000;
  text-align: center;
  font-size: 1rem;
}


/* SOBRE MIM*/
.sobre-mim {
  display: flex;
  height: 450px;
  background-color: #0C0C0C;
  margin-top: 120px;
}

.sobre-mim .box-sobre {
  display: flex;
}



.box-sobre .bio {
  font-size: 8rem;
  display: flex;
  flex-direction: column;
  width: 470px;
  justify-content: start;
  margin-left: 100px;
}

.bio h2 {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 3rem;
  text-align: justify;
  font-weight: 400;
  text-align: center;

}

.bio .legenda {
  text-align: justify;
}

.sobre-mim .box-sobre img {
  width: 25vw;
  height: 50vh;
  margin-left: 250px;
  border-radius: 100%;
  align-self: center;
  filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, 0.7));
  border: 7px solid #FF4500;
  z-index: 1;
}

.box-sobre .box-sobre {
  display: flex;
  flex-direction: column;
  width: 520px;
  justify-content: end;

}

.bio span {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 0.7rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-shadow:
    -1px -1px 0px #000,
    -1px 1px 0px #000,
    1px -1px 0px #000,
    1px 0px 0px #000;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.2px;
}

.bio button {
  width: 15vw;
  height: 10vh;
  align-self: center;
  justify-self: center;
  border-radius: 20px;
  text-decoration: none;
  margin-top: 20px;
  color: #fff;
  background-color: #FF4500;
  font-size: 1rem;
}




/* QUIZ*/
.sobre-quiz {
  display: flex;
  height: 450px;
  background-color: #0C0C0C;
  margin-top: 100px;
}

.sobre-quiz .box-quiz {
  display: flex;
}



.box-quiz .bio {
  font-size: 8rem;
  display: flex;
  flex-direction: column;
  width: 470px;
  justify-content: start;
  margin-left: 100px;
}

.bio h2 {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
  text-align: justify;
  font-weight: 400;
  text-align: center;

}

.bio .legenda {
  text-align: justify;
}

.sobre-quiz .box-quiz img {
  width: 32vw;
  height: 50vh;
  margin-left: 250px;
  align-self: center;
  filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, 0.7));
  border-style: 30px;
  border-radius: 30px;
  border: 7px solid #FF4500;

}

.box-quiz .box-quiz {
  display: flex;
  flex-direction: column;
  width: 520px;
  justify-content: end;

}

.bio span {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 0.7rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-shadow:
    -1px -1px 0px #000,
    -1px 1px 0px #000,
    1px -1px 0px #000,
    1px 0px 0px #000;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.2px;
}

.bio button {
  width: 12vw;
  height: 10vh;
  align-self: center;
  justify-self: center;
  border-radius: 20px;
  text-decoration: none;
  margin-top: 20px;
  color: #fff;
  background-color: #FF4500;
  font-size: 1rem;
  border-bottom: 10px solid #0000FF;
}