@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sedgwick Ave Display';
    font-size: 1.5rem;
}

.banner {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    /*vh-altura e vw-largura(unidade usada por conta que o banner estava numa boa resolução)*/
    background-image: url(../assets/imgs/banner-land\ page-naruto.jpg);
    height: 150vh;
    background-repeat: no-repeat;
    background-size: 104%;
    background-position: -4vw;
    /* Definição de como e onde a imagem de fundo é posicionada*/
    background-size: 104%;
    /*define as dimensões da imagem no box*/
    background-position: -4vw;
}


.banner-curio {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url(../assets/imgs/banner-curiosidade.jpg);
    height: 120vh;
    background-repeat: no-repeat;
    background-size: 104%;
    background-position: -4vw;
    /* Definição do banner para  posicionar*/
    background-size: 104%;
    /*definir as dimensões do banner*/
    background-position: -4vw;
}

.navbar {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100vw;
    transition: 0.6s;
    /*Alterando posição da navbar*/
    z-index: 3;
    /*Sobreposição de elementos da navbar*/
    background-color: #0000FF;
}


.logo {
    width: 13vw;
}



.navbar ul li {
    list-style: none;
    display: inline-block;
}

.ul-lista {
    width: 50vw;
    display: flex;
    justify-content: space-around;
}

.ul-lista ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.header {
    display: flex;
    width: 95vw;
    align-items: center;
    justify-content: space-around
}

.navbar ul li a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:#fff;
    font-size: 1.2rem;
}

.navbar ul li a:hover {
    color:#ff4500;

}




/*SECTION SOBRE MIM*/

.perfil h1 {
    font-size: 2.5rem;
    text-align: center;

}


.sobre-perfil h2{
    font-size: 1.5rem;
    text-align: center;
}


.sobre-perfil img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 30vh;
    border-radius: 15%;
    border: solid 10px #FF4500;
    margin-left: 520px;
}



.sobre-perfil p {
    text-align: center;
    justify-content: center;
    font-size: 1rem;
    color: #1C1C1C;
}

/*FIM DA SECTION SOBRE MIM*/




/*INTRODUCAO INICIO ANIME*/

.intro-anime {
    width: 400px;
    text-align: justify;
    color: #151515;
    font-size: 1.8rem;
}

.intro h2{
    text-align: center;
    font-size: 3.1rem;
    color: #151515;
    align-items: center;
}


section h2 {
    text-align: center;
    font-size: 6.2rem;
    color: #151515;
    align-items: center;
}

section.intro .anime-intro {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 100px;
}


.intro-anime img {
    width: 20vw;
    height: 40vh;
}

.intro-anime p {
    text-align: center;
    justify-content: center;
    font-size: 1rem;
    color: #1C1C1C;
}

/*FIM DA SECTION DE INTRO DO ANIME*/




/*INICIO SECTION  MEUS VALORES*/
section.valores .animeValores {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.valores h2 {
    text-align: center;
    font-size: 2.4rem;
    color: #151515;
    align-items: center;
    justify-content: center;
}


.animeValores .animeValor {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img-valor img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18vw;
    border-radius: 15%;
    border: solid 10px #FF4500;
}

.animeValor h3 {
    font-size: 1.5rem;
    text-align: justify;
}


.animeValor .traco {
    width: 50%;
    height: 5px;
    border-radius: 10px;
    margin-block: 10px;
    background-color: #FF4500;
}

.animeValor p {
    text-align: center;
    justify-content: space-evenly;
    font-size: 1rem;
    color: black;
}

/*FIM SECTION MEUS VALORES*/




/*INICIO SECTION FRASES MARCANTES DE ALGUNS PERSONAGENS*/

section.Personagem .animePerso {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.Personagem h2 {
    text-align: center;
    font-size: 2.4rem;
    color: #151515;
    margin-left: 100px;
}


.animePerso .animePersonagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img-falas img {
    align-items: center;
    width: 18vw;
    border-radius: 15%;
    border: solid 5px #FF4500;
    margin-left: 45px;
    justify-content: space-between;
}

.animePersonagem h3 {
    font-size: 0.8rem;
    text-align: justify;
}


.animePersonagem .traco {
    width: 50%;
    height: 5px;
    border-radius: 10px;
    margin-block: 10px;
    background-color: #FF4500;
}

.animePersonagem p {
    text-align: center;
    justify-content: space-between;
    font-size: 0.9rem;
    color: black;
}

/*FIM SECTION FRASES MARCANTES DE ALGUNS PERSONAGENS*/




/* INICIO SECTION HISTORIA DOS PERSONAGENS */

section.historia .animeHistorias {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;
}




.titulo h2 {
    font-size: 1.2;
    text-align: center;
    color: #151515;
}




.animeHistorias .box {
    display: flex;
    width: 20vw;
    align-items: justify;
    justify-content: left;
    gap: 3px;
}




.animeHist h3 {
    font-size: 1.7rem;
    text-align: center;
} 



.img-his img {
    align-items: center;
    justify-content: center;
    width: 22vw;
    text-align: center;
    border-radius: 15%;
    border: solid 10px #FF4500;
    box-shadow: 1vw 1vh 1vw #FF4500;
    margin-left: 475px;
}





.animeHist p {
    text-align: center;
    font-size: 1rem;

}

/* FIM DA SECTION HISTORIA DOS PERSONAGENS*/
