@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');



.banner-quiz {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    /* width: 100vw;*/
    background: url(../assets/imgs/banner-fundo-quiz.jpg);
    background-position: 50%;
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-left: 230px;
}





#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-left: 170px;
}



.list-naruto .titulo {
    color: #fff;
    font-size: 3rem;
    text-shadow:
        -1px -1px 0px #000,
        -1px 1px 0px #000,
        1px -1px 0px #000,
        1px 0px 0px #000;
    text-align: center;
}


.quiz {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
}

.quiz .list-naruto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FF450099;
    border-radius: 10px;
    border: 5px solid #000000;
    border-radius: 10px;
    height: fit-content;
}

.quiz .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../assets/imgs/banner-personalidade.jpg);
    background-size: cover;
    border-radius: 15px;
    width: 56vw;
    height: 70vh;
    border: 5px solid #000000;
    box-shadow: 8px 8px 8px #000000;
    padding: 1vh 2vw;
}



.quiz .questoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questoes h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow:
        -1px -1px 0px #000,
        -1px 1px 0px #000,
        1px -1px 0px #000,
        1px 0px 0px #000;
    font-weight: 400;
    font-size: 2rem;
    color: #fff;
}



.quiz .opcao {
    margin: 0.5vh 0 5vh 0;
}

.opcao .text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow:
        -1px -1px 0px #000,
        -1px 1px 0px #000,
        1px -1px 0px #000,
        1px 0px 0px #000;
    font-weight: 400;
    font-size: 2rem;
    color: #fff;
}

.opcao img {
    width: 20vw;
    height: 25vh;
    border: 5px solid #00f;
}

.opcao input {
    width: 3vw;
    height: 3vh;
    border: 6px solid #000;
}


.quiz .resp {
    margin: 2vh 0 2vh 0;
}

.Botao {
    color: white;
    padding: 1vh 1vw;
    margin: 0 2vw;
    font-size: 20px;
    ;
    align-self: center;
    box-shadow: 0px 0px 5px #FF4500;
    border-radius: 5px;
    background-color: #FF4500;
    border: none;
    cursor: pointer;
}