@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');




.banner-ponts{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
   /* width: 100vw;*/
   background: 
   linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
   url(../assets/imgs/banner-pontuacao.jpg);
   margin-left: 229px;
     height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
}



.table-titulo h1{
    text-align: center;
    font-size: 3rem;
    color: #FFF;
    font-weight: 400;
    background-color: #00f;
}



.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 520px;
    height: 90vh;
}

.table-container {
    width: 40vw;
    height: 65vh;
    color: #FFF;
    border-radius: 5px;
    border: 6px solid #00f;
    margin-left: 150px;
    box-shadow: 5px 5px 5px #00f;
    overflow: hidden scroll;
}

.table-container::-webkit-scrollbar {
    width: 7px;
}

.table-container::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #ff4500,#ff4500);
    border-radius: 5px;
}

table {
    width: 100%;
    text-align: center;
}

table thead tr td,
table tbody tr td {
    width: 33%;
    height: 40px;
    padding: 15px;
}

table thead tr td {
    color: #FFF;
    font-weight: 400;
    font-size: 1.5rem;
}

table th{
    color: #FFF;
    font-weight: 400;
    font-size: 2rem; 
}


table td{
    color: #FFF;
    font-weight: 400;
    font-size: 2rem;
    border-bottom: 3px solid #FFF;
}



