
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sedgwick Ave Display';
    font-size: 1rem;
}

.banner-ponts{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
   /* width: 100vw;*/
   background:url(../assets/imgs/walpapper-quiz2.png);
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
}


.Pontuacao h1{
    font-size: 1.8rem;
    color:#fff;
}

.Pontuacao {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.texto span{
    font-size: 0.5rem;
}

.Pontuacao .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:#000ff0;
    border-radius: 20px;
    box-shadow: 0px 0px 15px #FF4500;
    border: 10px solid #000ff0;
    margin-top: 170px;
    margin-left: 150px;
}


.Pontuacao  .card-pontos{
    width: 50vw;
   height: 50vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #000ff0;
   border-radius: 15px;
   border: 8px solid #000ff0;
   overflow-y: scroll;
}


.Pontuacao li {
    font-size: 1rem;
    font-weight: 300;
    justify-content: space-between;
    
}



table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.6rem;
}

tr {
    border-bottom: 2px solid #fff;
    font-size: 0.6rem;
    text-align: center;
    color: #fff;
}

td {
    padding: 1.5vh 0;
    font-size: 0.85rem;
    color: #fff;
}


th{
    font-size: 1rem;
    padding: 2.5vh 0;
}