
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sedgwick Ave Display';
    font-size: 1.5rem;
}

.banner-ponts{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
   /* width: 100vw;*/
  background: linear-gradient( to bottom, #f57344, #FF4500);
    height:150vh;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sedgwick Ave Display';
    font-size: 1.5rem;
}




.pontos span{
    font-size: 4.8rem;
    color:#fff;
}

.pontuacao {
    margin-top: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pontuacao .pontos {
    padding: 2vh 2vw 4vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#0000FF;
    border-radius: 20px;
    margin-left: 750px;
    border: 20px solid #000;
   
}


.pontuacao  .pont-total {
    width: 70vw;
    height: 50vh;
    padding: 4vh 0vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FF4500;
    border-radius: 15px;
    border: 20px solid #000;
  
}


.pontuacao li {
    font-size: 5rem;
    font-weight: 400;
    justify-content: space-between;
}

.infos th{
    font-size: 5rem;
    color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 2px solid #fff;
}

td {
    padding: 0.5vh;
}