
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sedgwick Ave Display';
    font-size: 1.5rem;
}

.banner-quiz{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
   /* width: 100vw;*/
  background: linear-gradient( to bottom, #f57344, #FF4500);
    height:530vh;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sedgwick Ave Display';
    font-size: 1.5rem;
}

.navbar-container {
    display: flex;
    width: 15%;
    justify-content: center;
    align-items: center;
}



nav {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 15%;
    height: 100vh;
    color: #FF4500;
    background: rgba(0, 0, 0, 0.9);
    background-blend-mode: darken;
    gap: 2vh;
    padding: 0.6rem;
    top: 0;
    left: 0;
}

nav img {
    max-width: 10vw;
}


.texto-quiz span {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    padding: 12vh 8vw;
    font-size: 70rem;
}

.nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 85%;
    height: 55vh;
    gap: 5vh;
    padding-left: 1vw;
}

.nav a {
    width: 10vw;
    justify-content: center;
    align-items: center;
    align-self: center;
    color: #fff;
    font-size: 35px;
    background-color: transparent;
    border-radius: 20px;
    padding: 1.5rem;
}

.nav a:hover {
    background-color: #FF4500;
}


li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0.3rem;
}

span {
    font-size: 1rem;
}

li span {
    font-size: 1.1vw;
}

.icone-nav {
    max-width: 2.5vw;
}


nav button {
    width: 10vw;
    justify-content: center;
    align-items: center;
    align-self: center;
    color: #fff;
    font-size: 55px;
    background-color: transparent;
    border-radius: 20px;
    border: 20px solid #00ff;
    padding: 1.5rem;
    transition: 0.5s ease;
}

nav button:hover {
    color: #000;
    background-color: #FF0000;
}

.bem-vindo h3 {
    font-size:3rem;
    color: #FF4500;
}

.bem-vindo span {
    font-size:3rem;
    color: #FF4500;
}

.text h1 {
    font-size: 6.5rem;
    color: #fff;
    margin-left: 800px;
    border: 30px solid #000;
    background-color: #FF4500;
}

.questoes h2{
    font-size: 4.7rem;
}


.img-quiz img {
    display: flex;
    width: 40vw;
    height: 45vh;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-bottom: 70px;
    border: 20px solid #000;
}

.opção input {
    width: 2vw;
    height: 3vh;
    margin-bottom: 90px;
    margin: 8px solid #fff;
}

.quiz span {
    text-align: center;
    font-size: 3.2rem;
    color: #fff;
}



.quiz {
    margin-top: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.quiz .container {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 8px 10px 12px;
    
}

.quiz .card {
    padding: 3vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FF4500;
    border-radius: 15px;
    margin-left: 800px;
    border: 20px solid #000;
}


button {
    width: 15vw;
    justify-content: center;
    align-items: center;
    align-self: center;
    color: #fff;
    font-size: 95px;
    background-color: transparent;
    border-radius: 20px;
    border: 20px solid #00ff;
    padding: 1.5rem;
    transition: 0.5s ease;
}

button:hover {
    background-color: #008000;
}