::-webkit-scrollbar {
    background-color: #000;
    /* cor do fundo do scroll */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #00f;
    height: 5px;
    /* cor da barra do scroll */
}
