
body::-webkit-scrollbar-thumb {
    background-color: #ff4500;
    border-radius: 5px;
}

body::-webkit-scrollbar {
    width: 7px;
}



::-webkit-scrollbar {
    width: 5px;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: #00f;
    border-radius: 20px;

}