* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.select-disable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: 'Munale';
    src: url(../assets/fonts/munale/Munale\ Loird.otf);
    font-weight: normal;
}

body::-webkit-scrollbar-track {
    background-color: #0C0C0C;
}



body {
    scrollbar-width: thin;
    font-family: 'Mulish', sans-serif;
    background-color: #fcfcfc;
    overflow-x: hidden;
}



nav {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 15%;
    height: 100vh;
    color: #FFf;
    background: rgba(0, 0, 0, 0.9);
    border-right: 2px solid #00c;
    gap: 2vh;
    padding: 0.6rem;
    top: 0;
    left: 0;
}

nav img {
    max-width: 12vw;
}

.texto-user {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

#b_usuario {
    align-self: center;
}

.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 55vh;
    gap: 5vh;
    padding-left: 1vw;
}

.nav-list a {
    display: flex;
    align-items: center;
    color: #FFF;
    text-decoration: none;
    gap: 1.4vw;
}

.nav-list a:hover {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0.3rem;
}

.pag-atual {
    border-bottom: 1px solid #ff4500;
    border-radius: 5px;
}

.pag-atual:hover {
    border-bottom: 1px solid #FFF;
    transition: 0.5s;
}

li span {
    font-size: 1.1vw;
}

.icon-nav {
    max-width: 4.5vw;
}

nav button {
    width: 6vw;
    justify-content: center;
    align-items: center;
    align-self: center;
    color: #FF0000;
    font-weight: 700;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid #FF0000;
    padding: 0.3rem;
    transition: 0.5s ease;
}

nav button:hover {
    color: #000;
    background-color: #FF0000;
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -o-transform: scale(1.08);
    -ms-transform: scale(1.08);
    transform: scale(1.08);
    cursor: pointer;
}


nav .botao{
    width: 8vw;
    justify-content: center;
    align-items: center;
    align-self: center;
    color: #FF0000;
    font-weight: 100;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid #FF0000;
    padding: 0.3rem;
    transition: 0.5s ease;
}