
/*INICIO SCROLLBAR*/
::-webkit-scrollbar {
    background-color:#fff;  /* cor do fundo do scroll */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 9px;
    background-color:#FF4500 ;  /* cor da barra do scroll */
}
/*FIM SCROLLBAR*/



/* COMEÇO FOOTER */
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:#FF4500 ;
    padding: 2.1%;
    /* color: white; */
}

footer span  {
    font-size: 0.75rem;
    font-weight: 300;
    color:#fff;
    text-align: center;
}
/* FIM FOOTER*/


  

