
/*INICIO SCROLLBAR*/
::-webkit-scrollbar {
    background-color:#fff;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 9px;
    background-color:#FF4500 ;
}
/*FIM SCROLLBAR*/



/* COMEÇO FOOTER INDEX E CURIOSIDADE */
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:#FF4500 ;
    padding: 2.1%;
    /* color: white; */
}

footer span  {
    font-size: 0.75rem;
    font-weight: 300;
    color:#fff;
    text-align: center;
}
/* FIM FOOTER INDEX E CURIOSIDADE */


  
  /* INICIO FOOTER LOGIN */
  .login {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:#FF4500 ;
    padding: 2.1%;
    /* color: white; */
  }
  
  .login span {
    font-size: 0.7rem;
    font-weight: 300;
    color:#fff;
    text-align: center;
  }
  /* FIM FOOTER LOGIN*/
